.title {
  font-weight: bold !important;
}
.input-container {
  margin: 20px;
}

.icon:hover {
  background-color: rgb(219, 214, 214);
  border-radius: 50%;
}
.row-green {
  background-color: rgb(221, 250, 235);
}
.row-red {
  background-color: rgb(252, 232, 230);
}

.filter {
  width: 160px;
  margin-right: 80%;
  padding: 10px;
  background-color: #ecebeb;
  border: none;
  border-radius: 5%;
  margin-bottom: 5px;
}
.filter-option {
  border: none;
  border-radius: 5%;
  padding: 10px 0;
}
.filter > option:hover {
  background-color: rgb(158, 208, 241);
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoContainer > img {
  width: 32px;
  height: 32px;
  margin-right: 5px;
}

.loginBtn {
  background-color: rgb(41, 162, 199);
  color: #f7ebeb;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}
.loginBtn:hover {
  background-color: rgb(29, 121, 150);
  cursor: pointer;
}
.titleLogin {
  font-weight: bold;
  font-size: 32px;
}
.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fcf9f9;
}
.loginForm > input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid slategray;
  width: 300px;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #f7f7f7;
  border-radius: 5px;
}
.loginForm > input:hover {
  box-shadow: 0px 5px 10px #b8b5b5;
}

.navBox {
  width: 250px;
  padding: 20px 10px !important;
  text-decoration: none;
  color: #242424;
  border-radius: 5px;
  margin-right: 20px !important;
  margin-top: 20vh;
  background-color: #eef0f0 !important;
}
.navBox:hover {
  color: #332f2f;
  font-weight: bold;
  box-shadow: 0px 5px 15px #a09f9f;
  transform: scale(1.1);
}
