.title {
  font-weight: bold;
}
.input-container {
  margin: 20px;
}

.icon:hover {
  background-color: rgb(219, 214, 214);
  border-radius: 50%;
}
.row-green {
  background-color: rgb(221, 250, 235);
}
.row-red {
  background-color: rgb(252, 232, 230);
}
